:host::ng-deep {
    display: flex;

    #navbar {
        position: sticky;
        top: 0;
        height: 100vh;
    }
    #router + * {
        width: 100%;
        & > * {
            display: block;
            padding: 1rem 2rem;
        }
    }

    h1 {
        position: sticky;
        height: 75px;
        top: 0;
        background-color: #212121;
        box-shadow: 0 4px 2px -3px #585858;
        z-index: 1;
        display: block;
    }
}
