<nav>
    <div id="brand">
        <a [routerLink]="homePage?.path">{{homePage?.displayName}}</a>
    </div>
    <ul>
        <li *ngFor="let link of otherPages">
            <a [routerLink]="link?.path" routerLinkActive="active"><span
                    [ngClass]="[link.iconClass]"></span>{{link?.displayName}}</a>
        </li>
    </ul>
    <div id="add-transaction">
        <button (click)="openDialog()">
            <span class="fa fa-plus"></span>
            Add transaction
        </button>
    </div>
</nav>