.list {
  display: grid;

  .transaction {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: .85rem;

    div:first-child {
      display: flex;
      flex-direction: column;
      row-gap: .5rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-color-600);
    }

    .date {
      filter: invert(30%);
    }

    .amount {
      display: flex;
      align-items: center;
      font-size: 1rem;

      &.income {
        &::before {
          content: "+ ";
        }

        color: #4caf50;
      }

      &.outcome {
        &::before {
          content: "- ";
        }

        color: #ff5722;
      }
    }

    .label {
      display: block;
      font-size: 1.2rem;
    }

    .partnership {
      filter: invert(30%);
    }
  }
}
