:host {
    display: flex;
    span {
        $external-border-radius: 10px;

        border: 1px solid #c7c7c7;
        display: flex;
        width: 50%;
        padding: 0.5rem 1rem;
        user-select: none;
        transition: all 0.2s ease;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
        &:first-child {
            border-radius: $external-border-radius 0 0 $external-border-radius;
        }
        &:last-child {
            border-radius: 0 $external-border-radius $external-border-radius 0;
        }
        &:not(.active):hover {
            background-color: #f2f2f2;
        }
        &.active {
            color: white;
            font-weight: bold;
            background-color: #42a5f5;
            border-color: #42a5f5;
        }
    }
}
