// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$budgetManager-primary: mat.define-palette(mat.$indigo-palette);
$budgetManager-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$budgetManager-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$budgetManager-theme: mat.define-light-theme(
  (
    color: (
      primary: $budgetManager-primary,
      accent: $budgetManager-accent,
      warn: $budgetManager-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($budgetManager-theme);

:root {
  --light-color-delimiter: #585858;
  --lighter-color-delimiter: #373737;
  --darker-bg-color: #212121;
  --dark-bg-color: #222425;
  --primary-color: #42a5f5;
  --light-color: #A0B3C9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--darker-bg-color);
  color: white;

  a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .mat-radio-group {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 1.34375em;
  }

  .justify-content-center {
    justify-content: center;
  }
}
